/*-----------------------------------------------
	Grid System
-----------------------------------------------*/

.grid{
  margin: 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}


[class*='col-'] img {
  width: 100%
}

.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-1{width:100%;}
.col-1-2{width:50%;}
.col-1-3{width:33.33%;}
.col-1-4{width:25%;}
.col-1-5{width:20%;}
.col-1-6{width:16.66%;}
.col-1-8{width:12.5%;}
.col-2-3{width:66.66%;}
.col-2-6{width:32.32%;}
.col-2-7{width:28.57%;}
.col-3-4{width:75%;}
.col-4-5{width:80%;}
.col-4-6{width:66.68%;}
.col-5-6{width:83.33%;}
.col-5-7{width:72.43%;}




/*-----------------------------------------------
	Block Grids
-----------------------------------------------*/


/*apply on ul tags*/
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one { margin: 0; }
.block-grid.one > li { width: 100%; padding: 0; }
.block-grid.two { margin: 0; }
.block-grid.two > li { width: 50%; padding: 0; }
.block-grid.two > li:nth-child(2n+1) { clear: both; }
.block-grid.three { margin: 0; }
.block-grid.three > li { width: 33.33333%; padding: 0; }
.block-grid.three > li:nth-child(3n+1) { clear: both; }
.block-grid.four { margin: 0; }
.block-grid.four > li { width: 25%; padding: 0; }
.block-grid.four > li:nth-child(4n+1) { clear: both; }
.block-grid.five { margin: 0; }
.block-grid.five > li { width: 20%; padding: 0; }
.block-grid.five > li:nth-child(5n+1) { clear: both; }
.block-grid.six { margin: 0; }
.block-grid.six > li { width: 16.66667%; padding: 0; }
.block-grid.six > li:nth-child(6n+1) { clear: both; }
.block-grid.seven { margin: 0; }
.block-grid.seven > li { width: 14.28571%; padding: 0; }
.block-grid.seven > li:nth-child(7n+1) { clear: both; }
.block-grid.eight { margin: 0; }
.block-grid.eight > li { width: 12.5%; padding: 0; }
.block-grid.eight > li:nth-child(8n+1) { clear: both; }
.block-grid.nine { margin: 0; }
.block-grid.nine > li { width: 11.11111%; padding: 0; }
.block-grid.nine > li:nth-child(9n+1) { clear: both; }
.block-grid.ten { margin: 0; }
.block-grid.ten > li { width: 10%; padding: 0; }
.block-grid.ten > li:nth-child(10n+1) { clear: both; }
.block-grid.eleven { margin: 0; }
.block-grid.eleven > li { width: 9.09091%; padding: 0; }
.block-grid.eleven > li:nth-child(11n+1) { clear: both; }
.block-grid.twelve { margin: 0; }
.block-grid.twelve > li { width: 8.33333%; padding: 0; }
.block-grid.twelve > li:nth-child(12n+1) { clear: both; }
